import random

lower = 'qwertyuiopasdfghjklzxcvbnm'
upper = lower.upper()
numbers = '123456789'
simbles= '!@#$%^&*()_-=+.><,'

pass = lower + upper + numbers +simbles
word= 25
password = "".join(random.sample(pass,word))
print('here is ur new password: ' + password)
